@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-display: ui-sans-serif, system-ui, sans-serif;
  --font-serif: Literata, Georgia, 'Times New Roman', serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}
